body {
  background-color:white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 2000;
  color: #444;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  text-align: center;
  color: #0000CD;
}


p{
 color: Black;
 width:200px;
 padding:40px;
 margin:auto;
}

a{
  color: green;
    text-decoration:none;
}

    
